Web References/wsapi/DeleteSavedSearches.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://deletesavedsearches.savedsearch.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://deletesavedsearches.savedsearch.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SavedSearchCommon.xsd" namespace="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="DeleteSavedSearches" type="tns:DeleteSavedSearches">
    <annotation>
      <documentation>
				Allows a client to delete one or more previously saved searches.
			</documentation>
    </annotation>
  </element>
  <element name="DeleteSavedSearchesResponse" type="tns:DeleteSavedSearchesResponse">
    <annotation>
      <documentation>
				An empty response indicates success.  If any deletes failed, a list
				of failures will be in the response.
			</documentation>
    </annotation>
  </element>
  <complexType name="DeleteSavedSearches">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all authenticated 
						requests.
					</documentation>
        </annotation>
      </element>
      <element name="savedSearchIdList" type="tns:SavedSearchIdList">
        <annotation>
          <documentation>
						List container that holds the savedSearchIds to be deleted.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DeleteSavedSearchesResponse">
    <sequence>
      <element minOccurs="0" name="failureList" type="tns:FailureList">
        <annotation>
          <documentation>
						List container that holds a list of saved searches whose delete failed.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SavedSearchIdList">
    <sequence>
      <element maxOccurs="unbounded" name="savedSearchId" type="integer">
        <annotation>
          <documentation>
						A saved search ID to be deleted.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="FailureList">
    <sequence>
      <element maxOccurs="unbounded" name="failure" type="tns:Failure">
        <annotation>
          <documentation>
						A failure encapsulates information about a failed delete attempt.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Failure">
    <sequence>
      <element name="savedSearchId" type="integer">
        <annotation>
          <documentation>
						Saved Search ID for which the delete failed.
					</documentation>
        </annotation>
      </element>
      <element name="reason" type="tns:Reason">
        <annotation>
          <documentation>
						Reason that the delete failed.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="Reason">
    <restriction base="string">
      <enumeration value="InvalidSavedSearchID" />
      <enumeration value="Unknown" />
    </restriction>
  </simpleType>
</schema>