Web References/wsapi/ExecuteSavedSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://executesavedsearch.savedsearch.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://executesavedsearch.savedsearch.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SavedSearchCommon.xsd" namespace="http://common.savedsearch.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SearchCommon.xsd" namespace="http://common.search.services.v1.wsapi.lexisnexis.com" />
  <element name="ExecuteSavedSearch" type="tns:ExecuteSavedSearch">
    <annotation>
      <documentation>
				Allows a client to execute a previously saved search.
			</documentation>
    </annotation>
  </element>
  <element name="ExecuteSavedSearchResponse" type="result:SearchResponse">
    <annotation>
      <documentation>
				Includes the results of the search, including searchId, number of
				documents found, and documents (if requested).
			</documentation>
    </annotation>
  </element>
  <complexType name="ExecuteSavedSearch">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all authenticated requests.
					</documentation>
        </annotation>
      </element>
      <element name="savedSearchId" type="integer">
        <annotation>
          <documentation>
						Saved Search ID to be executed.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" default="Implied" name="sortOrder" type="result:SortOrder">
        <annotation>
          <documentation>
						Order in which the results are to be sorted.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="retrievalOptions" type="result:RetrievalOptions">
        <annotation>
          <documentation>
						If present, this structure contains details about how retrieved
						documents are to be presented.  If absent, no documents will be
						returned.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>