Web References/wsapi/GetAdjacentDocument.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://getadjacentdocument.retrieve.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:scresult="http://sourcecontextresult.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getadjacentdocument.retrieve.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SourceContextResult.xsd" namespace="http://sourcecontextresult.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SearchCommon.xsd" namespace="http://common.search.services.v1.wsapi.lexisnexis.com" />
  <element name="GetAdjacentDocument" type="tns:GetAdjacentDocument">
    <annotation>
      <documentation>Allows a client to retrieve the previous or next document in the 
      source, i.e. "book style" navigation.  Note that this operation does not retrieve 
      the previous/next document in an answer set.</documentation>
    </annotation>
  </element>
  <element name="GetAdjacentDocumentResponse" type="scresult:SourceContextRetrievalResponse">
    <annotation>
      <documentation>Returns the document requested by the client.</documentation>
    </annotation>
  </element>
  <complexType name="GetAdjacentDocument">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element name="sourceContextId" type="string">
        <annotation>
          <documentation>Represents the "point of reference" document from
          which the previous or next document in the source will be taken.</documentation>
        </annotation>
      </element>
      <element name="documentSelector" type="tns:DocumentSelector">
        <annotation>
          <documentation>Select next, previous, or current document.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="documentFormatOptions" type="result:DocumentFormatOptions">
        <annotation>
          <documentation>Optional element that defines the particular document 
        view and markup in which documents are to be retrieved.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="DocumentSelector">
    <restriction base="string">
      <enumeration value="Next" />
      <enumeration value="Current" />
      <enumeration value="Previous" />
    </restriction>
  </simpleType>
</schema>