Web References/wsapi/GetDocumentVersions.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://getdocumentversions.retrieve.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getdocumentversions.retrieve.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetDocumentVersions" type="tns:GetDocumentVersions">
    <annotation>
      <documentation>Request for client application to retrieve document
      version information for the specified document.</documentation>
    </annotation>
  </element>
  <element name="GetDocumentVersionsResponse" type="tns:GetDocumentVersionsResponse">
    <annotation>
      <documentation>Consists of a list of document version information
      for the specified document.</documentation>
    </annotation>
  </element>
  <complexType name="GetDocumentVersions">
    <sequence>
      <element minOccurs="0" name="locale" type="common:Locale">
        <annotation>
          <documentation>Indicates language of request.</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>f4348ad8876542bc93748c89fb98a7e Security token that must
          be provided on all non-authentication requests.</documentation>
        </annotation>
      </element>
      <element name="documentId" type="string">
        <annotation>
          <documentation>An identifier associated with a single LexisNexis document.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetDocumentVersionsResponse">
    <sequence>
      <element name="documentVersionList" type="result:DocumentVersionList">
        <annotation>
          <documentation>List of document version information elements.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>