Web References/wsapi/GetGlobalSourceTaxonomies.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://getglobalsourcetaxonomies.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getglobalsourcetaxonomies.globalsourcedirectory.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetGlobalSourceTaxonomies" type="tns:GetGlobalSourceTaxonomies">
    <annotation>
      <documentation>Allows a user to retrieve global source taxonomies based
			on the user's locale.</documentation>
    </annotation>
  </element>
  <element name="GetGlobalSourceTaxonomiesResponse" type="tns:GetGlobalSourceTaxonomiesResponse">
    <annotation>
      <documentation>Returns a list of taxonomies.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetGlobalSourceTaxonomies">
    <complexContent mixed="false">
      <extension base="common:BaseRequest">
        <sequence>
          <element name="binarySecurityToken" type="security:BinarySecurityToken">
            <annotation>
              <documentation>
								Security token that must be provided on all non-authentication
                  requests.  Example: f4348ad8876542bc93748c89fb98a7e</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GetGlobalSourceTaxonomiesResponse">
    <sequence>
      <element name="taxonomyList" type="tns:GlobalSourceTaxonomyList">
        <annotation>
          <documentation>A list of taxonomies.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GlobalSourceTaxonomyList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="globalSourceTaxonomy" type="tns:GlobalSourceTaxonomy">
        <annotation>
          <documentation>A global source taxonomy.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GlobalSourceTaxonomy">
    <sequence>
      <element name="globalSourceTaxonomyId" type="string">
        <annotation>
          <documentation>A global source taxonomyId.  Example: af987...90bc</documentation>
        </annotation>
      </element>
      <element name="name" type="string">
        <annotation>
          <documentation>The taxonomy's name.  Example: Publication Type</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>