Web References/wsapi/GetRetrievableSegments.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://getretrievablesegments.retrieve.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://getretrievablesegments.retrieve.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="GetRetrievableSegments" type="tns:GetRetrievableSegments">
    <annotation>
      <documentation>
				Allows a client to retrieve a list of retrievable segments for a given searchId.
			</documentation>
    </annotation>
  </element>
  <element name="GetRetrievableSegmentsResponse" type="tns:GetRetrievableSegmentsResponse">
    <annotation>
      <documentation>
				Returns the segments requested by the client.
			</documentation>
    </annotation>
  </element>
  <complexType name="GetRetrievableSegments">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all authenticated requests.
					</documentation>
        </annotation>
      </element>
      <element name="searchId" type="string">
        <annotation>
          <documentation>
						Identifier that refers to all pertinent information related to the original search.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GetRetrievableSegmentsResponse">
    <sequence>
      <element name="segmentList" type="tns:SegmentList">
        <annotation>
          <documentation>
						The list of segments requested by the client.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SegmentList">
    <sequence>
      <element maxOccurs="unbounded" name="segment" type="tns:Segment">
        <annotation>
          <documentation>
						A single segment.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Segment">
    <sequence>
      <element name="segmentName" type="string">
        <annotation>
          <documentation>
						The name of a single segment.
					</documentation>
        </annotation>
      </element>
      <element name="segmentType" type="tns:SegmentType">
        <annotation>
          <documentation>
						The type of a single segment.
					</documentation>
        </annotation>
      </element>
      <element name="isCommon" type="boolean">
        <annotation>
          <documentation>
						Indicates whether this segment is common across all documents' databases.
						If a segment is common, it could occur in all documents in the supplied
						answer set.  If a segment is non-common, at least some documents in the
						answer set lack the ability to contain the segment.
					</documentation>
        </annotation>
      </element>
      <element name="isPopular" type="boolean">
        <annotation>
          <documentation>
						Indicates whether or not this segment is deemed popular.  This could prove
						useful in helping a customer determine which segments to include in
						documents when retrieving.
					</documentation>
        </annotation>
      </element>
      <element name="isMandatory" type="boolean">
        <annotation>
          <documentation>
						Indicates whether or not this segment is mandatory.  Mandatory segments
						will be included in custom view documents, regardless of whether or not
						the segment name is explicitly requested.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="SegmentType">
    <restriction base="string">
      <enumeration value="TextSegment" />
      <enumeration value="DateSegment" />
      <enumeration value="NumericSegment" />
    </restriction>
  </simpleType>
</schema>