Web References/wsapi/ResolveRemoteLink.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://resolveremotelink.retrieve.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://resolveremotelink.retrieve.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <element name="ResolveRemoteLink" type="tns:ResolveRemoteLink">
    <annotation>
      <documentation>
				Allows a client to resolve the remote link embedded 
				in a document.
			</documentation>
    </annotation>
  </element>
  <element name="ResolveRemoteLinkResponse" type="result:SearchResponse">
    <annotation>
      <documentation>
				The response from a resolve remote link request is a set of 
				search results, containing document identifiers along with 
				documents in the specified or default output format.
			</documentation>
    </annotation>
  </element>
  <complexType name="ResolveRemoteLink">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
						Security token that must be provided on all authenticated requests.
					</documentation>
        </annotation>
      </element>
      <element name="remoteLinkId" type="string">
        <annotation>
          <documentation>
						Identifier of an embedded remotelink.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="includePremiumContent" type="boolean">
        <annotation>
          <documentation>
						Sometimes, the document(s) that would be returned are not
						found in their normal subscription, but may be retrieved on
				        a pay-per-transaction basis.  If this flag is set to true, 
						this type of documents will be returned
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="retrievalOptions" type="result:RetrievalOptions">
        <annotation>
          <documentation>
						If present, this structure contains details about how retrieved
						documents are to be presented.  Also includes the range of documents
						to return.  If absent, no documents will be returned.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="crosslinkFlag" type="string">
        <annotation>
          <documentation>
				Created a new element for XML Crosslink functionality. 
				To enable the cross linking functionality, the value to be passed is "Y" or "y"
			</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>