Web References/wsapi/RetrieveDossierLinks.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://retrievedossierlinks.dossier.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:commondossier="http://common.dossier.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://retrievedossierlinks.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="DossierCommon.xsd" namespace="http://common.dossier.services.v1.wsapi.lexisnexis.com" />
  <element name="RetrieveDossierLinks" type="tns:RetrieveDossierLinks">
    <annotation>
      <documentation />
    </annotation>
  </element>
  <element name="RetrieveDossierLinksResponse" type="tns:RetrieveDossierLinksResponse">
    <annotation>
      <documentation />
    </annotation>
  </element>
  <complexType name="RetrieveDossierLinks">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="dossierId" type="string">
        <annotation>
          <documentation>Unique identifier that refers to a company in Company Dossier.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="dossierType" type="commondossier:DossierType">
        <annotation>
          <documentation>
					The type of dossier that corresponds with the dossier id used in this call.
					Either CompanyDossier or IndustryDossier.  CompanyDossier is assumed, and will
					be used if no dossierType is supplied.
				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RetrieveDossierLinksResponse">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="linkList" type="tns:LinkList">
        <annotation>
          <documentation>A list of links available for the company.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LinkList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="link" type="tns:Link">
        <annotation>
          <documentation>A link for the company.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Link">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="name" type="string">
        <annotation>
          <documentation />
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="key" type="string">
        <annotation>
          <documentation>A constant identifier that can be used to identify this link</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="linkId" type="string">
        <annotation>
          <documentation />
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>