Web References/wsapi/RetrieveCorporateHierarchy.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://retrievecorporatehierarchy.dossier.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://retrievecorporatehierarchy.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="../Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <element name="RetrieveCorporateHierarchy" type="tns:RetrieveCorporateHierarchy">
    <annotation>
      <documentation>RetrieveCorporateHierarchy request element.</documentation>
    </annotation>
  </element>
  <element name="RetrieveCorporateHierarchyResponse" type="tns:RetrieveCorporateHierarchyResponse">
    <annotation>
      <documentation>RetrieveCorporateHierarchy response element.</documentation>
    </annotation>
  </element>
  <complexType name="RetrieveCorporateHierarchy">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all non-authentication requests.</documentation>
        </annotation>
      </element>
      <element name="dossierId" type="string">
        <annotation>
          <documentation>The company to browse the corporate hierarchy of.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RetrieveCorporateHierarchyResponse">
    <sequence>
      <element name="copyright" type="string">
        <annotation>
          <documentation>Copyright information for this hierarchy.</documentation>
        </annotation>
      </element>
      <element name="lastUpdatedDate" type="dateTime">
        <annotation>
          <documentation>Date that this hierarchy was last updated in the LexisNexis system.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="dossierLinkId" type="string">
        <annotation>
          <documentation>A link to the source information about the corporate hierarchy.</documentation>
        </annotation>
      </element>
      <element name="corporateEntity" type="tns:CorporateEntity">
        <annotation>
          <documentation>The corporate entity associated with the companyId in the request.  This entity could contain other corporate entities.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CorporateEntity">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>The name of the corporate entity.</documentation>
        </annotation>
      </element>
      <element name="location" type="string">
        <annotation>
          <documentation>The location of the corporate entity.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="dossierId" type="string">
        <annotation>
          <documentation>The corporate entity's dossier Id.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="corporateEntityList" type="tns:CorporateEntityList">
        <annotation>
          <documentation>A list of corporate entities within this corporate entity.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CorporateEntityList">
    <sequence>
      <element maxOccurs="unbounded" name="corporateEntity" type="tns:CorporateEntity">
        <annotation>
          <documentation>A Corporate Entity</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>