Web References/wsapi/SearchCitationFormats.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://searchcitationformats.ldc.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:ldccommon="http://ldccommon.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchcitationformats.ldc.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="LDCCommon.xsd" namespace="http://ldccommon.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchCitationFormats" type="tns:SearchCitationFormats">
    <annotation>
      <documentation>
        Represents a search for getting the information regarding the citation formats by using the search string(reporter)
      </documentation>
    </annotation>
  </element>
  <element name="SearchCitationFormatsResponse" type="tns:SearchCitationFormatsResponse">
    <annotation>
      <documentation>
        The response from a SearchCitationFormats is a set of search results,   
        containing information regarding the source key, source Name and the reporter format
        specified.
      </documentation>
    </annotation>
  </element>
  <complexType name="SearchCitationFormatsResponse">
    <sequence>
      <element minOccurs="0" name="cfaSourceList" type="ldccommon:CfaSourceDetailsList">
        <annotation>
          <documentation>
					Represents the information regarding the source key, source name and reporter format
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchCitationFormats">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
            Security token that must be provided on all non-authentication
            requests.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="1" name="searchString" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">Utah Code</example>
				 Text to be searched
			</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>