Web References/wsapi/SearchCompanyDossier.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://searchcompanydossier.dossier.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:result="http://result.common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchcompanydossier.dossier.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="../Result.xsd" namespace="http://result.common.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchCompanyDossier" type="tns:SearchCompanyDossier">
    <annotation>
      <documentation>Search for a company.</documentation>
    </annotation>
  </element>
  <element name="SearchCompanyDossierResponse" type="tns:SearchCompanyDossierResponse">
    <annotation>
      <documentation>Returns the companies found when searching Company Dossier.</documentation>
    </annotation>
  </element>
  <complexType name="SearchCompanyDossier">
    <sequence>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>Security token that must be provided on all authenticated requests.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="query" type="string">
        <annotation>
          <documentation>A query to locate a company.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="attributeList" type="tns:AttributeList">
        <annotation>
          <documentation>Attributes used to identify specific XML output.
					By default only company name will be returned.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="documentRange" type="result:Range">
        <annotation>
          <documentation>Defines the range of documents to be retrieved.
					By default the first 50 companies will be returned.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchCompanyDossierResponse">
    <sequence>
      <element name="documentsFound" type="integer">
        <annotation>
          <documentation>The number of companies found that match the search criteria.</documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="companyList" type="tns:CompanyList">
        <annotation>
          <documentation>An XML company comparison report, encoded in base64.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CompanyList">
    <sequence>
      <element maxOccurs="unbounded" name="company" type="tns:Company">
        <annotation>
          <documentation>Company information</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Company">
    <sequence>
      <element minOccurs="0" name="dossierId" type="string">
        <annotation>
          <documentation>Unique identifier that refers to a company in Company Dossier.</documentation>
        </annotation>
      </element>
      <element name="companyName" type="string">
        <annotation>
          <documentation>Unique identifier that refers to a company in Company Dossier.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="attributeList" type="tns:AttributeList">
        <annotation>
          <documentation>List of displayable attributes associated with the company.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AttributeList">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="attribute" type="string">
        <annotation>
          <documentation>An attribute that designates a single XML output part.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>