Web References/wsapi/SearchSources.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://searchsources.source.services.v1.wsapi.lexisnexis.com" xmlns:security="http://security.common.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" xmlns:sourcecommon="http://common.source.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://searchsources.source.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="Security.xsd" namespace="http://security.common.services.v1.wsapi.lexisnexis.com" />
  <import schemaLocation="SourceCommon.xsd" namespace="http://common.source.services.v1.wsapi.lexisnexis.com" />
  <element name="SearchSources" type="tns:SearchSources">
    <annotation>
      <documentation>
            Allows a client to search the source directory using the 
            publication name of a source.
         </documentation>
    </annotation>
  </element>
  <element name="SearchSourcesResponse" type="tns:SearchSourcesResponse">
    <annotation>
      <documentation>
            Includes a list of sources that match the search criteria. 
            Metadata such as the source name and source identifier
            are part of this list.
         </documentation>
    </annotation>
  </element>
  <complexType name="SearchSources">
    <sequence>
      <element name="locale" type="common:Locale">
        <annotation>
          <documentation>
					Optional locale indicating language of request.
				</documentation>
        </annotation>
      </element>
      <element name="binarySecurityToken" type="security:BinarySecurityToken">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">f4348ad8876542bc93748c89fb98a7e</example>
                  Security token that must be provided on all non-authentication
                  requests.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="FolderId" type="integer">
        <annotation>
          <documentation>
                  An identifier that is associated with a particular folder in 
                  the source directory. In order to search from the top of the 
                  directory, the folderId must be excluded.
               </documentation>
        </annotation>
      </element>
      <element name="partialSourceName" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">The New York Times</example>
                  Either the actual name of the publication or the name 
                  given to a group of publications.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="useCSP" type="boolean">
        <annotation>
          <documentation>
                Internal Use Only!
                Use Combined Search Pricing Rules/Logic.
              </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SearchSourcesResponse">
    <sequence>
      <element name="sourceList" type="sourcecommon:SourceList">
        <annotation>
          <documentation>
                  The list of sources that satisfy the search request.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>