Web References/wsapi/SourceCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://common.source.services.v1.wsapi.lexisnexis.com" xmlns:common="http://common.services.v1.wsapi.lexisnexis.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://common.source.services.v1.wsapi.lexisnexis.com" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="Common.xsd" namespace="http://common.services.v1.wsapi.lexisnexis.com" />
  <complexType name="Source">
    <sequence>
      <element name="name" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">News Group File, Most Recent 90 Days</example>
                  Either the actual name of the publication or the name 
                  given to a group of publications.                  
               </documentation>
        </annotation>
      </element>
      <element ref="common:sourceId">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">7944</example>
                  An identifier used to represent a specific source in
                  the source directory.
               </documentation>
        </annotation>
      </element>
      <element name="type" type="tns:SourceType">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">SecuredSource</example>
					Type of sources returned.
				</documentation>
        </annotation>
      </element>
      <element name="premiumSource" type="boolean">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">true</example>
                  This flag warns users that the source that was requested
				  is not found in their normal subscription, but may be 
				  used to run a search on a pay-per-transaction basis.
               </documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="typeOfSource" type="string">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">Aggregate</example>
                  This stores the information about the type of source.
                  Possible values are Single, Group and Aggregate
               </documentation>
        </annotation>
      </element>
      <element name="hasIndex" type="boolean">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">true</example>
                  This flag Returns whether the source an index source 
				  associated with it
               </documentation>
        </annotation>
      </element>
      <element name="hasTOC" type="boolean">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">true</example>
                  Returns whether the source has an ETOC 
				  (enhanced table of contents) associated with it.
               </documentation>
        </annotation>
      </element>
      <element name="versionable" type="boolean">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">true</example>
                  It is used to control display of the versioning info 
				  component on the left-hand side in full doc view.
               </documentation>
        </annotation>
      </element>
      <element name="isPageBrowsable" type="boolean">
        <annotation>
          <documentation>
            <example xmlns="http://www.w3.org/2001/XMLSchema">true</example>
                   Indicates if the source page is browseable.
               </documentation>
        </annotation>
      </element>
      <element name="combinabilityList" type="tns:CombinabilityList">
        <annotation>
          <documentation>
					 The list of combinability strings for the source.
				</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="aggregateSubSourceList" type="string">
        <annotation>
          <documentation>
					 The list of sources in an Aggregate source which contains the search term.
				</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SourceList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="source" type="tns:Source">
        <annotation>
          <documentation>
                  Detailed information about a single source.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CombinabilityList">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="combinability" type="string">
        <annotation>
          <documentation>
				 The combinability family list is a list of strings defining 
				 the source's combinability family.If a source has a combinability 
				 family of "A", then it is combinable with all other sources with 
				 "A" in their combinability family.If a source is not combinable, 
				 the family list returned will be empty.
               </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="SourceType">
    <restriction base="string">
      <enumeration value="Standard" />
      <enumeration value="SecuredSource" />
      <enumeration value="TableOfContents" />
    </restriction>
  </simpleType>
</schema>